@using ApLucDongAnh.ViewModel
@using PagedList.Mvc
@model ApLucDongAnh.ViewModel.CategoryProductViewModel
@{
    ViewBag.Title = "Sản phẩm";
    ViewBag.Description = "Sản phẩm";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("AllProduct");
    var fp = Model.Products.FirstOrDefault();
    if (fp?.ListImage != null)
    {
        if (fp.ListImage.StartsWith("https://lohoidonganh.com"))
        {
            ViewBag.ImageShare = fp.ListImage;
        }
        else
        {
            ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/projects/", fp.ListImage.Split(',')[0]);
        }
    }
}

@Html.Action("Header")
<section class="banner-category banner-category__product">
    <h1 data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">Sản phẩm</h1>
    <ol class="breadcrumb" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index")">
                Trang chủ
            </a>
            <i class="fal fa-long-arrow-right"></i>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Sản phẩm
        </li>
    </ol>
</section>
<section class="product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <input type="hidden" name="currentUrl" value="@Url.Action("AllProduct", "Home")" />
                <div class="filter">
                    <div class="result">
                        Hiển thị @Model.BeginCount-@Model.EndCount của @Model.ProductResult kết quả
                    </div>
                    <div class="select">
                        <select name="sort" id="sort">
                            <option value="date-desc">Mới nhất</option>
                            <option value="date-asc">Cũ nhất</option>
                        </select>
                    </div>
                </div>
                <div id="list-item-sort">
                    <div class="row">
                        @if (Model.Products.Any())
                        {
                            var delay = 200;
                            foreach (var item in Model.Products)
                            {
                                var itemProduct = new ProductItemPartial
                                {
                                    Delay = delay,
                                    Product = item
                                };
                                <div class="col-lg-4 col-md-6">
                                    @Html.Partial("_ProductItem", itemProduct)
                                </div>
                                delay += 100;
                            }
                            if (Model.Products.PageCount > 1)
                            {
                                <div class="col-12 text-center">
                                    @Html.PagedListPager(Model.Products, page => Url.Action("AllProduct", new { page, sort = Model.Sort }))
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12">
                                <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-lg-0 mt-5">
                <div class="box-border">
                    <div class="title">
                        Tìm kiếm
                    </div>
                    <form action="@Url.Action("SearchProduct")" class="form-search-product">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keywords" placeholder="Tìm kiếm sản phẩm..." required>
                            <div class="input-group-append">
                                <button type="submit">
                                    <i class="far fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                @if (Model.Categories.Any())
                {
                    <div class="box-border">
                        <div class="title">
                            Sản phẩm
                        </div>
                        <div class="accordion">
                            @foreach (var item in Model.Categories.Where(a => a.ParentId == null))
                            {
                                <div class="card">
                                    <div class="card-header" id="heading-@item.Id">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h2 class="mb-0">
                                                <a href="@Url.Action("ProductCategory", "Home", new {url = item.Url})">@item.CategoryName</a>
                                                <span>(@item.Products.Count)</span>
                                            </h2>
                                            @if (Model.Categories.Any(a => a.ParentId == item.Id))
                                            {
                                                <button class="btn-card" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id">
                                                    <i class="far fa-chevron-down"></i>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    @if (Model.Categories.Any(a => a.ParentId == item.Id))
                                    {
                                        <div id="collapse-@item.Id" class="collapse">
                                            <div class="card-body">
                                                <ul class="pl-0 mb-0">
                                                    @foreach (var child in Model.Categories.Where(p => p.ParentId == item.Id))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("ProductCategory", "Home", new {url = child.Url})">
                                                                @child.CategoryName
                                                            </a>
                                                            <span>(@child.Products.Count())</span>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                @Html.Partial("_ContactInfoSide")
                <a href="@Url.Action("Contact")" class="contact-us">
                    <span>LIÊN HỆ VỚI CHÚNG TÔI</span>
                </a>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        Sort("/Home/GetProduct");
    </script>
}