@model ApLucDongAnh.ViewModel.AllServiceViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Dịch vụ";
    ViewBag.Description = "Dịch vụ";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("AllService");
    var fa = Model.Services.FirstOrDefault();
    if (fa?.Image != null)
    {
        if (fa.Image.StartsWith("https://lohoidonganh.com"))
        {
            ViewBag.ImageShare = fa.Image;
        }
        else
        {
            ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/articles/", fa.Image);
        }
    }
}

@Html.Action("Header")
<section class="banner-category banner-category__service">
    <h1 data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">Dịch vụ</h1>
    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
        Chúng tôi đem được đến cho Doanh Nghiệp của Quý khách những lợi ích thiết thực nhất, những lời tư vấn được chắt lọc, trải nghiệm phù hợp nhất với các nhu cầu thực tế của từng doanh nghiệp.
    </div>
    <ol class="breadcrumb" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index")">
                Trang chủ
            </a>
            <i class="fal fa-long-arrow-right"></i>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Dịch vụ
        </li>
    </ol>
</section>
<section class="service-category">
    <div class="container">
        <div class="row">
            @if (Model.Services.Any())
            {
                var delay = 200;
                foreach (var service in Model.Services)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="main-item" data-aos="flip-left" data-aos-duration="700" data-aos-delay="@delay">
                            <div class="icon-category">
                                <img src="~/Content/images/img-main/icon-category.png" alt="Icon" />
                            </div>
                            <a href="@Url.Action("ServiceDetail", new { url = service.Url })" class="main-img">
                                @if (service.Image != null)
                                {
                                    if (service.Image.StartsWith("https://lohoidonganh.com"))
                                    {
                                        <img src="@service.Image" alt="@service.Subject" />
                                    }
                                    else
                                    {
                                        <img src="@Path.Combine("/images/articles/", service.Image)" alt="@service.Subject" />
                                    }
                                }
                            </a>
                            <div class="body">
                                <div class="subject truncate">
                                    <a href="@Url.Action("ServiceDetail", new { url = service.Url })" title="@service.Subject">
                                        @service.Subject
                                    </a>
                                </div>
                                <div class="desc truncate" title="@service.Description">
                                    @service.Description
                                </div>
                                <a href="@Url.Action("ServiceDetail", new { url = service.Url })" class="btn-view">
                                    TÌM HIỂU THÊM
                                    <i class="far fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    delay += 100;
                }
                if (Model.Services.PageCount > 1)
                {
                    <div class="col-12 text-center">
                        @Html.PagedListPager(Model.Services, page => Url.Action("AllService", new { page }))
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
                </div>
            }
        </div>
    </div>
</section>
@if (Model.ProjectCategories.Any())
{
    <section class="project-new">
        <div class="container">
            <div class="text-center">
                <div class="title-section" data-aos="fade-up" data-aos-duration="700">
                    CÁC DỰ ÁN MỚI NHẤT
                </div>
                <div class="desc-section" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                    Take a look at the work we are in need of partners, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id quam tortor. Aenean et quam non nunc.
                </div>
            </div>
            <ul class="nav nav-pills" id="project-cat">
                <li class="nav-item">
                    <button class="nav-link active" data-toggle="pill" value="0">Tất cả dự án</button>
                </li>
                @foreach (var category in Model.ProjectCategories)
                {
                    <li class="nav-item">
                        <button class="nav-link" data-toggle="pill" value="@category.Id">@category.CategoryName</button>
                    </li>
                }
            </ul>
            <div id="list-project-sort">
                @Html.Action("GetProject")
            </div>
            <div class="text-center">
                <a href="@Url.Action("AllProject")" class="btn-main-2">
                    <span>XEM THÊM DỰ ÁN</span>
                    <i class="far fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
}
@if (Model.Feedbacks.Any())
{
    var delay = 200;
    <section class="feedback-customer">
        <div class="container">
            <div class="title-section text-center">
                KHÁCH HÀNG NÓI VỀ CHÚNG TÔI
            </div>
            <div class="desc-section">
                Take a look at the work we are in need of partners, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id quam tortor. Aenean et quam non nunc.
            </div>
            <div class="feedback-customer-list">
                @foreach (var item in Model.Feedbacks)
                {
                    <div class="feedback-customer-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="@delay">
                        <div class="icon-feedback"></div>
                        <div class="content">
                            @item.Content
                        </div>
                        <div class="customer">
                            <div class="d-flex">
                                <div class="customer-img">
                                    @if (item.Image != null)
                                    {
                                        <img data-src="@Path.Combine("/images/feedbacks/", item.Image)" src="~/Content/images/img-main/base64.gif" alt="@item.Name" class="lazyload" />
                                    }
                                </div>
                                <div class="customer-info">
                                    <div class="customer-name">
                                        @item.Name
                                    </div>
                                    <div class="classify">
                                        @item.Classify
                                    </div>
                                </div>
                            </div>
                            <div class="vote">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    delay += 100;
                }
            </div>
        </div>
    </section>
}

@section scripts {
    <script>
        getProject("/Home/GetProject");
        serviceCategory();
    </script>
}