@model ApLucDongAnh.ViewModel.CategoryProductViewModel
@using PagedList.Mvc

<div class="row">
    @if (Model.Products.Any())
    {
        var delay = 200;
        foreach (var item in Model.Products)
        {
            <div class="col-lg-6 col-md-6">
                <div class="main-item product-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="@delay">
                    @if (item.Hot == true)
                    {
                        <div class="product-hot">Best Seller</div>
                    }
                    <a href="@Url.Action("ProductDetail", new { url = item.Url })" class="main-img">
                        @if (item.ListImage != null)
                        {
                            <img src="@Path.Combine("/images/products/", item.ListImage.Split(',')[0])" alt="@item.Name" />
                        }
                    </a>
                    <div class="body">
                        <div class="subject truncate">
                            <a href="@Url.Action("ProductDetail", new { url = item.Url })" title="@item.Name">
                                @item.Name
                            </a>
                        </div>
                        <div class="desc truncate" title="@item.ShortDescription">
                            @item.ShortDescription
                        </div>
                        <a href="@Url.Action("ProductDetail", new { url = item.Url })" class="btn-view">
                            TÌM HIỂU THÊM
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            delay += 100;
        }
    }
    else
    {
        <div class="col-12">
            <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
        </div>
    }
    @if (Model.Products.PageCount > 1)
    {
        <div class="col-12 text-center">
            @Html.PagedListPager(Model.Products, page => Url.Action("ProductCategory", new { page, url = Model.Url, sort = Model.Sort }))
        </div>
    }
</div>