@model ApLucDongAnh.ViewModel.SearchProductViewModel
@using PagedList.Mvc

<div class="row">
    @if (Model.Products.Any())
    {
        foreach (var item in Model.Products)
        {
            <div class="col-lg-6">
                <div class="main-item product-item">
                    @if (item.Hot == true)
                    {
                        <div class="product-hot">Best Seller</div>
                    }
                    <a href="@Url.Action("ProductDetail", new { url = item.Url })" class="main-img">
                        @if (item.ListImage != null)
                        {
                            <img src="@Path.Combine("/images/products/", item.ListImage.Split(',')[0])" alt="@item.Name" />
                        }
                    </a>
                    <div class="body">
                        <div class="subject truncate">
                            <a href="@Url.Action("ProductDetail", new { url = item.Url })" title="@item.Name">
                                @item.Name
                            </a>
                        </div>
                        <div class="desc truncate" title="@item.ShortDescription">
                            @item.ShortDescription
                        </div>
                        <a href="@Url.Action("ProductDetail", new { url = item.Url })" class="btn-view">
                            TÌM HIỂU THÊM
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12">
            <h3 class="font-weight-bold text-danger text-uppercase">Không có kết quả</h3>
            <p>Xin lỗi, không có nội dung phù hợp với cụm từ tìm kiếm của bạn. Vui lòng thử lại với một số từ khóa khác.</p>
        </div>
    }
    @if (Model.Products.PageCount > 1)
    {
        <div class="col-12 text-center">
            @Html.PagedListPager(Model.Products, page => Url.Action("SearchProduct", new { page, keywords = Model.Keywords, sort = Model.Sort }))
        </div>
    }
</div>