@model ApLucDongAnh.ViewModel.MenuArticleViewModel

<div class="box-border">
    <div class="title">
        Tìm kiếm
    </div>
    <form action="@Url.Action("SearchArticle")" class="form-search-product">
        <div class="input-group">
            <input type="text" class="form-control" name="keywords" placeholder="Tìm kiếm bài viết..." required>
            <div class="input-group-append">
                <button type="submit">
                    <i class="far fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
@if (Model.Articles.Any())
{
    <div class="box-border">
        <div class="title">
            Bài viết gần đây
        </div>
        @foreach (var article in Model.Articles)
        {
            <div class="media p-3">
                @if (article.Image != null)
                {
                    <div class="recent-post-img">
                        <a href="@Url.Action("ArticleDetail", "Home", new { url = article.Url })" class="mr-3">
                            <img data-src="@Path.Combine("/images/articles/", article.Image)" src="~/Content/images/img-main/base64.gif" class="lazyload" alt="@article.Subject">
                        </a>
                    </div>
                }
                <div class="media-body">
                    <a href="@Url.Action("ArticleDetail", "Home", new { url = article.Url })" class="subject truncate">
                        @article.Subject
                    </a>
                    <span class="date">
                        <i class="fal fa-calendar-alt"></i>
                        @article.CreateDate.ToString("dd/MM/yyyy")
                    </span>
                </div>
            </div>
        }
    </div>
}