@model ApLucDongAnh.ViewModel.ProjectCategoryViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Model.Category.TitleMeta ?? Model.Category.CategoryName;
    ViewBag.Description = Model.Category.DescriptionMeta ?? Model.Category.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ProjectCatgory", "Home", new { url = Model.Category.Url });
}

@Html.Action("Header")
<section class="banner-category banner-category__project" @if (Model.Category.CoverImage != null) { @Html.Raw("style='background-image:url(" + Path.Combine("/images/projectCategory/", Model.Category.CoverImage) + ")'") }>
    <h1 data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">@Model.Category.CategoryName</h1>
    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
        @Model.Category.Description
    </div>
    <ol class="breadcrumb" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index")">
                Trang chủ
            </a>
            <i class="fal fa-long-arrow-right"></i>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("AllProject")">
                Dự án
            </a>
            <i class="fal fa-long-arrow-right"></i>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @Model.Category.CategoryName
        </li>
    </ol>
</section>
<section class="project-category">
    <div class="container">
        <div class="quick-subcribe">
            <div class="text">
                <div class="title">Subscribe to Newletter</div>
                <span>Get the latest posts delivered right to your email.</span>
            </div>
            <form class="form-subcribe">
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="position-relative">
                    @Html.TextBoxFor(model => model.Subcribe.Email, new { @class = "form-control", @required = "required", @placeholder = "EMAIL" })
                    @Html.ValidationMessageFor(model => model.Subcribe.Email)
                </div>
                <button type="submit">
                    THEO DÕI NGAY
                </button>
            </form>
        </div>
        @if (Model.Projects.Any())
        {
            var delay = 200;
            foreach (var item in Model.Projects)
            {
                <div class="project-large" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="@delay">
                    <div class="calendar">
                        <span class="day">@item.CreateDate.ToString("dd")</span>
                        T @item.CreateDate.ToString("MM-yy")
                    </div>
                    <a href="@Url.Action("ProjectDetail", new { url = item.Url })" class="project-img">
                        @if (item.ListImage != null)
                        {
                            <img src="@Path.Combine("/images/projects/", item.ListImage.Split(',')[0])" alt="@item.ProjectName" />
                        }
                    </a>
                    <a href="@Url.Action("ProjectDetail", new { url = item.Url })" class="subject">
                        @item.ProjectName
                    </a>
                    <div class="desc">
                        @item.Description
                    </div>
                    <a href="@Url.Action("ProjectDetail", new { url = item.Url })" class="btn-main-2">
                        <span>TÌM HIỂU THÊM</span>
                        <i class="far fa-long-arrow-right"></i>
                    </a>
                </div>
                delay += 100;
            }
        }
        else
        {
            <p class="alert alert-success small mt-5">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
        }
        @if (Model.Projects.PageCount > 1)
        {
            <div class="text-center mt-5">
                @Html.PagedListPager(Model.Projects, page => Url.Action("ProjectCategory", new { page, url = Model.Url }))
            </div>
        }
    </div>
</section>